In [3]:
!pip install pyBKT

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

Collecting pyBKT
  Downloading pyBKT-1.4.tar.gz (32.7 MB)
     ---------------------------------------- 32.7/32.7 MB 8.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from pyBKT) (1.20.3)
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from pyBKT) (1.3.4)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from pyBKT) (2.26.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->pyBKT) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->pyBKT) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->pyBKT) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->pyBKT) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->pyBKT) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->pyBKT) (2.0.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pyBKT) (1.16.0)
Building wheels for collected packages: pyBKT, sklearn
  Building wheel for pyBKT (setup.py): started
  Building wheel for pyBKT (setup.py): finished with status 'done'
  Created wheel for pyBKT: filename=pyBKT-1.4-py3-none-any.whl size=34409 sha256=078716dbc9490c1821d90c575cfbd653b5080bb550ef1a4a1391e65628ba8bc7
  Stored in directory: c:\users\сергей\appdata\local\pip\cache\wheels\9a\d5\14\b0b1005880b40618565b8565b95bff41073b11a62919ff68b1
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=8484c1272315d1c55764bc06625dea62764f12e8c556e9d24d149265a15a11cc
  Stored in directory: c:\users\сергей\appdata\local\pip\cache\wheels\f8\e0\3d\9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built pyBKT sklearn
Installing collected packages: sklearn, pyBKT
Successfully installed pyBKT-1.4 sklearn-0.0.post1

In [18]:
import numpy as np
import pandas as pd
from pyBKT.models import Model

In [19]:
ct_df = pd.read_table('data.txt', sep ='	')

C:\ProgramData\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (61,63,65) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
print(f"Rows: {ct_df.shape[0]}")
print(f"Columns: {ct_df.shape[1]}")

Rows: 685615
Columns: 73

In [29]:
field = 'KC (WPI-Apr-2005)'
data = ct_df[ct_df[field].notna()]

In [32]:
data

,Row,Sample Name,Transaction Id,Anon Student Id,Session Id,Time,Time Zone,Duration (sec),Student Response Type,Student Response Subtype,...,KC (MCAS5-State_WPI-Simple).2,KC Category (MCAS5-State_WPI-Simple).2,KC (MCAS5-State_WPI-Simple).3,KC Category (MCAS5-State_WPI-Simple).3,KC (Single-KC),KC Category (Single-KC),KC (Unique-step),KC Category (Unique-step),School,Class
4,5,All Data,dca05a90ed9a01bff3b2e9dda0ac9701,Stu_00176143fc2991346939888160a9b1ce,2572205,2005-11-08 10:20:10,US/Eastern,14,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,KC81,NaN,103999,1
9,10,All Data,49006da9662ca146c0d63b180068a805,Stu_00176143fc2991346939888160a9b1ce,2572341,2005-11-08 10:22:52,US/Eastern,26,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,KC184,NaN,103999,1
10,11,All Data,d38872ff350b66484121da8602546753,Stu_00176143fc2991346939888160a9b1ce,2572454,2005-11-08 10:24:15,US/Eastern,5,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,KC184,NaN,103999,1
11,12,All Data,716c50e44beb4eaa08527b1f4f03d621,Stu_00176143fc2991346939888160a9b1ce,2572476,2005-11-08 10:24:43,US/Eastern,26,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,KC111,NaN,103999,1
12,13,All Data,5dd4a559a0d57c34500b16c86e0b1683,Stu_00176143fc2991346939888160a9b1ce,2572476,2005-11-08 10:24:56,US/Eastern,13,HINT_REQUEST,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,KC111,NaN,103999,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685610,685611,All Data,ecd79274988ffb021c107b70d61dc02f,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,4231424,2006-04-05 22:57:14,US/Eastern,50,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,KC190,NaN,103999,2006
685611,685612,All Data,664c2ea62a7633befcaa07e04565a41d,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,4231424,2006-04-05 22:57:33,US/Eastern,19,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,103999,2006
685612,685613,All Data,7f9175054ed47929425c8d9ff1a83b5f,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,4231424,2006-04-05 22:57:45,US/Eastern,12,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,103999,2006
685613,685614,All Data,6682546d5fc7127ae180e51ee777a9bd,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,4231424,2006-04-05 22:58:09,US/Eastern,24,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,103999,2006
685614,685615,All Data,fc5dcfc85fd71afacb25936d8921e458,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,4231437,2006-04-05 22:58:45,US/Eastern,31,ATTEMPT,NaN,...,NaN,NaN,NaN,NaN,Single-KC,NaN,NaN,NaN,103999,2006

In [33]:
data = ct_df[ct_df[field] == 'Area']

In [34]:
data = data[data['Outcome'] != 'HINT']

data.loc[data.Outcome == 'CORRECT', 'Outcome'] = 1
data.loc[data.Outcome == 'INCORRECT', 'Outcome'] = 0

print(data['Outcome'])

26        0
28        0
29        0
32        0
33        0
         ..
685603    0
685604    0
685605    0
685607    1
685608    1
Name: Outcome, Length: 15702, dtype: object

In [35]:
defaults = {'order_id': 'custom_order',
            'skill_name': 'custom_skill',
            'correct': 'custom_answer',
            'problem_id':'Problem Name'}

defaults['multiprior'] = 'custom_gs_classes'
columns = ['Row', 'Anon Student Id', 'KC (skills_from_dataframe)', 'Outcome', 'Level (Curriculum)', 'Problem Name']

custom_df = data[columns]
custom_df.columns = ['custom_order', 'Anon Student Id',
                     'custom_skill', 'custom_answer',
                     'custom_gs_classes',
                     'Problem Name']
custom_df.head(5)

,custom_order,Anon Student Id,custom_skill,custom_answer,custom_gs_classes,Problem Name
26,27,Stu_00176143fc2991346939888160a9b1ce,area,0,Assistment,833
28,29,Stu_00176143fc2991346939888160a9b1ce,area,0,Assistment,833
29,30,Stu_00176143fc2991346939888160a9b1ce,area,0,Assistment,833
32,33,Stu_00176143fc2991346939888160a9b1ce,area,0,Assistment,833
33,34,Stu_00176143fc2991346939888160a9b1ce,area,0,Assistment,833

In [36]:
model = Model(seed = 41, num_fits = 1)
model.fit(data = custom_df, defaults = defaults)

In [37]:
def mae(true_vals, pred_vals):
    return np.mean(np.abs(true_vals - pred_vals))

In [38]:
#default model
training_rmse = model.evaluate(data = custom_df)
training_auc = model.evaluate(data = custom_df, metric = 'auc')
training_mae = model.evaluate(data = custom_df, metric = mae)

print(f"RMSE: {training_rmse:.5}")
print(f"AUC: {training_auc:.5}")
print(f"MAE: {training_mae:.5}")

preds = model.predict(data = custom_df)

RMSE: 0.49611
AUC: 0.57851
MAE: 0.48995

In [39]:
model_forget = Model(seed = 41, num_fits = 1)
model_forget.fit(data = custom_df, defaults = defaults, forgets=True)

In [40]:
#model with forgetting
training_rmse = model_forget.evaluate(data = custom_df)
training_auc = model_forget.evaluate(data = custom_df, metric = 'auc')
training_mae = model_forget.evaluate(data = custom_df, metric = mae)

print(f"RMSE: {training_rmse:.5}")
print(f"AUC: {training_auc:.5}")
print(f"MAE: {training_mae:.5}")

preds = model_forget.predict(data = custom_df)

RMSE: 0.49678
AUC: 0.57366
MAE: 0.49085

In [41]:
model_prior = Model(seed = 41, num_fits = 1)
model_prior.fit(data = custom_df, defaults = defaults,multiprior=True)

In [42]:
#multiprior model
training_rmse = model_prior.evaluate(data = custom_df)
training_auc = model_prior.evaluate(data = custom_df, metric = 'auc')
training_mae = model_prior.evaluate(data = custom_df, metric = mae)

print(f"RMSE: {training_rmse:.5}")
print(f"AUC: {training_auc:.5}")
print(f"MAE: {training_mae:.5}")

preds = model_prior.predict(data = custom_df)

RMSE: 0.4944
AUC: 0.58421
MAE: 0.5907