In [1]:
import numpy as np
import pandas as pd

In [16]:
data = pd.read_csv("data.csv", delimiter=',')

In [17]:
data

       Food  Price  Taste Demand
0     Pizza      3      3    Yes
1     Pizza      5      2     No
2     Pizza      1      2    Yes
3     Pizza      4      4     No
4     Pizza      4      1     No
5     Sushi      1      2    Yes
6     Sushi      2      5     No
7     Sushi      4      2    Yes
8     Sushi      3      1     No
9     Sushi      3      5     No
10    Sushi      5      5     No
11    Sushi      4      4     No
12    Sushi      5      5    Yes
13  Burgers      4      4    Yes
14  Burgers      3      3    Yes
15  Burgers      2      2    Yes
16  Burgers      3      3     No
17  Burgers      1      1    Yes
18  Burgers      2      2     No
19  Burgers      1      1     No

In [27]:
-9/20 * np.log2(9/20) - 11/20 * np.log2(11/20)

0.9927744539878083

In [6]:
def H(a, b):
    return -a * np.log2(a) - b * np.log2(b)

In [39]:
len(data.loc[data['Food'] == 'Sushi'])

8

In [40]:
pizza_YES, pizza_NO = 2/5, 3/5
Demand_Pizza = H(pizza_YES, pizza_NO)
print("H(Demand|Pizza) = ", Demand_Pizza)

sushi_YES, sushi_NO = 3/8, 5/8
Demand_Sushi = H(sushi_YES, sushi_NO)
print("H(Demand|Sushi) = ", Demand_Sushi)


burgers_YES, burgers_NO = 4/7,3/7
Demand_Burgers = H(burgers_YES, burgers_NO)
print("H(Demand|Burgers) = ", Demand_Burgers)

Demand_Food = Demand_Pizza * len(data.loc[data['Food'] == 'Pizza'])/20 + Demand_Sushi * len(data.loc[data['Food'] == 'Sushi'])/20 + Demand_Burgers * len(data.loc[data['Food'] == 'Burgers'])/20

print("IG(Demand|Food) = ", H(9/20,11/20) - Demand_Food)

H(Demand|Pizza) =  0.9709505944546686
H(Demand|Sushi) =  0.954434002924965
H(Demand|Burgers) =  0.9852281360342515
IG(Demand|Food) =  0.023433356592167165

In [19]:
data.loc[data['Price'] == 1]

       Food  Price  Taste Demand
2     Pizza      1      2    Yes
5     Sushi      1      2    Yes
17  Burgers      1      1    Yes
19  Burgers      1      1     No

In [20]:
data.loc[data['Price'] == 2]

       Food  Price  Taste Demand
6     Sushi      2      5     No
15  Burgers      2      2    Yes
18  Burgers      2      2     No

In [21]:
data.loc[data['Price'] == 3]

       Food  Price  Taste Demand
0     Pizza      3      3    Yes
8     Sushi      3      1     No
9     Sushi      3      5     No
14  Burgers      3      3    Yes
16  Burgers      3      3     No

In [22]:
data.loc[data['Price'] == 4]

       Food  Price  Taste Demand
3     Pizza      4      4     No
4     Pizza      4      1     No
7     Sushi      4      2    Yes
11    Sushi      4      4     No
13  Burgers      4      4    Yes

In [23]:
data.loc[data['Price'] == 5]

     Food  Price  Taste Demand
1   Pizza      5      2     No
10  Sushi      5      5     No
12  Sushi      5      5    Yes

In [42]:
price1_YES, price1_NO = 3/4, 1/4
Demand_price1 = H(price1_YES, price1_NO)
print("H(Demand|price1) = ", Demand_price1)

price2_YES, price2_NO = 1/3, 2/3
Demand_price2 = H(price2_YES, price2_NO)
print("H(Demand|price2) = ", Demand_price2)

price3_YES, price3_NO = 2/5,3/5
Demand_price3 = H(price3_YES, price3_NO)
print("H(Demand|price3) = ", Demand_price3)

price4_YES, price4_NO = 2/5,3/5
Demand_price4 = H(price4_YES, price4_NO)
print("H(Demand|price4) = ", Demand_price4)

price5_YES, price5_NO = 1/3,2/3
Demand_price5 = H(price5_YES, price5_NO)
print("H(Demand|price5) = ", Demand_price5)

Demand_Price = Demand_price1 * len(data.loc[data['Price'] == 1])/20 + Demand_price2 * len(data.loc[data['Price'] == 2])/20 + Demand_price3 * len(data.loc[data['Price'] == 3])/20 + Demand_price4 * len(data.loc[data['Price'] == 4])/20 + Demand_price5 * len(data.loc[data['Price'] == 5])/20

print("IG(Demand|Price) = ", H(9/20,11/20) - Demand_Price)

H(Demand|price1) =  0.8112781244591328
H(Demand|price2) =  0.9182958340544896
H(Demand|price3) =  0.9709505944546686
H(Demand|price4) =  0.9709505944546686
H(Demand|price5) =  0.9182958340544896
IG(Demand|Price) =  0.06955478165230033

In [25]:
data.loc[data['Taste'] == 1]

       Food  Price  Taste Demand
4     Pizza      4      1     No
8     Sushi      3      1     No
17  Burgers      1      1    Yes
19  Burgers      1      1     No

In [30]:
data.loc[data['Taste'] == 2]

       Food  Price  Taste Demand
1     Pizza      5      2     No
2     Pizza      1      2    Yes
5     Sushi      1      2    Yes
7     Sushi      4      2    Yes
15  Burgers      2      2    Yes
18  Burgers      2      2     No

In [31]:
data.loc[data['Taste'] == 3]

       Food  Price  Taste Demand
0     Pizza      3      3    Yes
14  Burgers      3      3    Yes
16  Burgers      3      3     No

In [32]:
data.loc[data['Taste'] == 4]

       Food  Price  Taste Demand
3     Pizza      4      4     No
11    Sushi      4      4     No
13  Burgers      4      4    Yes

In [33]:
data.loc[data['Taste'] == 5]

     Food  Price  Taste Demand
6   Sushi      2      5     No
9   Sushi      3      5     No
10  Sushi      5      5     No
12  Sushi      5      5    Yes

3

In [44]:
taste1_YES, taste1_NO = 1/4, 3/4
Demand_taste1 = H(taste1_YES, taste1_NO)
print("H(Demand|taste1) = ", Demand_taste1)

taste2_YES, taste2_NO = 4/6, 2/6
Demand_taste2 = H(taste2_YES, taste2_NO)
print("H(Demand|taste2) = ", Demand_taste2)

taste3_YES, taste3_NO = 2/3,1/3
Demand_taste3 = H(taste3_YES, taste3_NO)
print("H(Demand|taste3) = ", Demand_taste3)

taste4_YES, taste4_NO = 1/3,2/3
Demand_taste4 = H(taste4_YES, taste4_NO)
print("H(Demand|taste4) = ", Demand_taste4)

taste5_YES, taste5_NO = 1/4,3/4
Demand_taste5 = H(taste5_YES, taste5_NO)
print("H(Demand|taste5) = ", Demand_taste5)

Demand_taste = Demand_taste1 * len(data.loc[data['Taste'] == 1])/20 + Demand_taste2 * len(data.loc[data['Taste'] == 2])/20 + Demand_taste3 * len(data.loc[data['Taste'] == 3])/20 + Demand_taste4 * len(data.loc[data['Taste'] == 4])/20 + Demand_taste5 * len(data.loc[data['Taste'] == 5])/20

print("IG(Demand|Price) = ", H(9/20,11/20) - Demand_taste)

H(Demand|taste1) =  0.8112781244591328
H(Demand|taste2) =  0.9182958340544896
H(Demand|taste3) =  0.9182958340544896
H(Demand|taste4) =  0.9182958340544896
H(Demand|taste5) =  0.8112781244591328
IG(Demand|Price) =  0.11728570377146141