In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('task4.csv', header=None)
df.columns = ['Количество звонков']
df

      Количество звонков
0                      5
1                      4
2                      6
3                      0
4                      2
...                  ...
9995                   2
9996                   5
9997                   3
9998                   4
9999                   0

[10000 rows x 1 columns]

In [12]:
mean = df['Количество звонков'].mean()
std = df['Количество звонков'].std()
median = df['Количество звонков'].median()
mean, std, median

(2.9616, 1.736556075311209, 3.0)

In [13]:
#доверительный интервал 0.95
import scipy.stats as st
n = len(df)
alpha = 0.05
t = st.t.ppf(1 - alpha / 2, n - 1)
mean - t * std / n ** 0.5, mean + t * std / n ** 0.5

(2.927560005868256, 2.9956399941317438)