In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go

In [3]:
df = pd.read_csv('report.csv', encoding='windows-1251')
df

                   Регион  Средняя зарплата
0          Алтайский край             25960
1        Амурская область             43156
2   Архангельская область             47526
3    Астраханская область             32166
4    Белгородская область             31163
..                    ...               ...
80   Чеченская Республика             26108
81   Чувашская Республика             27028
82           Чукотский АО             96930
83      Ямало-Ненецкий АО             86560
84    Ярославская область             33882

[85 rows x 2 columns]

In [9]:
#remove rows Республика Мордовия, Курская область
df = df[df['Регион'] != 'Томская область']
df = df[df['Регион'] != 'Самарская область']
df

                   Регион  Средняя зарплата
0          Алтайский край             25960
1        Амурская область             43156
2   Архангельская область             47526
3    Астраханская область             32166
4    Белгородская область             31163
..                    ...               ...
80   Чеченская Республика             26108
81   Чувашская Республика             27028
82           Чукотский АО             96930
83      Ямало-Ненецкий АО             86560
84    Ярославская область             33882

[83 rows x 2 columns]

In [10]:
df.sort_values(by='Средняя зарплата', ascending=True).iloc[[20, 36, 40]]

                  Регион  Средняя зарплата
24   Костромская область             27948
9    Воронежская область             31286
3   Астраханская область             32166

In [11]:
df['Средняя зарплата'].mean()

38890.48192771084

In [12]:
df['Средняя зарплата'].median()

32473.0